* {
   margin: 0px;
   padding: 0px;
}

body {
   background-color:ivory;
   }

/* Type selector is a selector that targets a html element e.g. h1, li,p,body, have a html element on index like <h1> text </h1> , and then on css h1{} */
h1 {
   /* display: block; */
    padding: 0 0 0 750px;
    color: black; 
    font-family: Arial;
    font-size: 48px;
    border-style: solid;
    border-radius: 20px;
    background-color: springgreen;
   }

 nav{
   margin-top: 1em;
}

 nav ul {
   display: flex;
 }

nav ul li{
   width: 5em;
   height: 2em;
   background-color: aqua;
   list-style-type: none;
   text-align: center;
   line-height: 2em;
}

h2 {
    font-family: Arial;
    font-size: 32px;
    border-radius: 9px;
    background-color: springgreen;
   }



/* class selector is class = "text",(in index), then on css .text{} , usage when you want the same change for multiple */
.notice { 
          font-weight: bold;
          font-size: 24px;
        }

/*ID selector is id = "text",(in index) then on css #text{} , usage when you want unique change for one */     
 #joke {
          color: lightcoral;    
          font-weight: bold;
          font-size: 18px;
       }

p {
   padding: 30px 0 0 2px;
}

ol {
   padding: 10px 0 0 3px;
}
     

    

     
     